---
layout: archive

header:
image: /assets/images/header.jpg

---

<div class="page-content" style="text-align: justify">
  <h4 style="font-size: 0.685em;"><strong>About Me</strong></h4>
  <p style="font-size: 0.65em;">
    Hello, I am Vamsi Reddy, a Biomedical Engineering MSE Graduate Student at Johns Hopkins University, Baltimore, MD, USA.
  </p>
  <p style="font-size: 0.65em;">
    I am inclined to medical devices and biomedical technologies including but not limited to areas such as instrumentation, optical imaging, signal, and image processing. I can also contribute with my skills in computation and mathematical analysis using both statistical and machine learning tools.
  </p>

  <h4 style="font-size: 0.685em;"><strong>Education</strong></h4>
  <div style="font-size: 0.65em;">
    <a href="https://www.jhu.edu">
      <img src="/assets/images/hopkins.png" alt="Hopkins" width="64" height="64">
    </a><strong> Aug 2019 - May 2021 (E) </strong> Johns Hopkins University
    
    <strong> Master of Science and Engineering (MSE) in Biomedical Engineering  </strong>    
  </div>

  <div style="font-size: 0.65em;">
    <a href="https://www.nitrkl.ac.in">
      <img src="/assets/images/nitr.png" alt="NIT Rourkela" width="64" height="64">
    </a>
    <strong> Aug 2014 - Jun 2018 </strong>  NIT Rourkela, India.
    <strong> Bachelor of Technology with Honors in Biomedical Engineering </strong>
  </div>
</div>

